*{
    margin:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#111;
    color:white;
}
body::-webkit-scrollbar{
    display: none;
}
/* NAVBAR */
.nav{
    position: fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:20px;
    z-index:10;
    transition:0.4s ease;
}
.logo{
    margin-top: 20px;
}
.nav__black{
    background:#000;
}
.nav__avatar{
    width:80px;
    object-fit:contain;
}

/* BANNER */
.banner{
    background-image: url("https://images.unsplash.com/photo-1524985069026-dd778a71c7b4");
    height:550px;
    background-size:cover;
    background-position:center;
    position:relative;
}

.banner_contents{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.banner_title{
    font-size:3rem;
    font-weight:800;
}

.banner_description{
    max-width:600px;
    margin-top:10px;
}

/* ROWS */
.row{
    margin-top:40px;
    padding:0 20px;
}

.row_posters{
    display:flex;
    overflow-y:hidden;
    overflow-x:scroll;
    padding:20px 0;
}
.row_posters::-webkit-scrollbar{
    display:none;
}

.row_poster{
    max-height:200px;
    margin-right:10px;
    object-fit:cover;
    transition:0.3s ease;
}
.row_poster:hover{
    transform:scale(1.1);
}

/* VIDEO OVERLAY */
#overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

#videoBox{
    width:90%;
    max-width:900px;
    background:black;
    padding:10px;
    border-radius:10px;
    position:relative;
}

#ytvideo{
    width:100%;
    aspect-ratio:16/9;
}

#closeBtn{
    position:absolute;
    top:10px;
    right:10px;
    font-size:22px;
    cursor:pointer;
    color:white;
}

/* MOVIE INFO PANEL */
#videoDescription{
    margin-top:10px;
    font-size:14px;
}

.top-row{
    display:flex;
    justify-content:space-between;
    gap:30px;
}

.left{
    flex:2;
}

.right{
    flex:1.2;
    overflow-y:auto;
}
